* {
	font-family: Sans-Serif;
}  

body { 
   
  background-image: url("bg3.jpg"); 
  background-size: cover;

} 
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

.center2{
	margin-left: auto;
	margin-right:auto;
}

.red {

	color:#f00;
	font-weight: bold;
}

.line {
	text-decoration: underline;
	font-weight: bold;
	margin-top: 1em;
	display: block;
}
 
h2,h1,h3{text-align: center;}

.top{text-align:center; display: block;}
.bottom{text-align: center;}

ul.myUL {
  display: inline-block;
  text-align: center;
  font-size: 18px;
}

a:hover {
  color: hotpink;
}

table {
 
  width: 35%;
  
}

th,td {
  text-align: left;
  padding: 9px;
}

tr:nth-of-type(1) {
  background-color: #ABB2B9;
}
tr:nth-child(2) {
  background-color: #FAD7A0;
}
tr:nth-of-type(3) {
  background-color: #FFA07A;
}
tr:nth-child(4) {
  background-color: #FDEBD0;
}
tr:nth-child(5) {
  background-color: #FEC8D8;
}
