<!DOCTYPE html> 
<html> 
<head> 
<style> 
*{  
	font: sans-serif;   
}  

body { 
   
  background-image: url("bg.jpg"); 
  background-size: cover;

} 
table {
 
  width: 100%;
  
}

th,td {
  text-align: left;
  padding: 9px;
}

tr:nth-of-type(1) {
  background-color: #ABB2B9;
}
tr:nth-child(2) {
  background-color: #FAD7A0;
}
tr:nth-of-type(3) {
  background-color: #FFA07A;
}
tr:nth-child(4) {
  background-color: #FDEBD0;
}


</style> 
</head> 
<body> 

</body> 
</html> 

  

 

 
